body {
    margin:0
}

.imageListDiv{
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.blogSummaryDiv{
    width: 390px;
    align-self: center;
    justify-self: center;
    margin-bottom:30px
}

.blogyHeadingPeriod {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 480px;
}

.mainHomeDiv{
    width:1320px;
    margin-top: 70px;
    margin-left: 140px;
}


.draftImageListDiv{
    width: 360px;
    height: 230px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.draftSummaryDiv{
    width: 1000px;
    align-self: center;
    justify-self: center;
    margin-bottom:30px;
    margin-left: 30px;
}

.blogDetailHeaderDiv{
    width: 100%;
    height: 374px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.blogDetailHeaderOverlayDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 374px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;
}

.blogDetailContentDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-content:center;
    align-items: center;
}

.blogDetailCategorySpan{
    color:#214252;
    font-weight:450;
    padding-right: .5rem;
}